.testimonal {
	border-left: 1px solid #555;
}

cite {
	font-size: 1.2rem;
	margin-top: 25px;
	display: block;
}

cite img {
	height: 85px;
	border-radius: 50%;
	margin-right: 25px;
	vertical-align: middle;
}